.settings-wrapper {
  margin: 0 auto;
  font-size: 20px;
  width: 600px;
  text-align: left;
  display: flex;
}

.avatar {
  width: 160px;
  height: 160px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  background: rgba(223, 242, 253, 0.486);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar p {
  margin-top: 0;
}

#avatar {
  display: none;
}

#avatar + label {
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#avatar + label svg {
  font-size: 30px;
}

#avatar + label:hover p {
  margin-bottom: 18px;
}

#avatar + label:active p {
  margin-bottom: 22px;
}

#avatar + label:hover svg {
  font-size: 32px;
}
#avatar + label:active svg {
  font-size: 25px;
}

.avatar img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.avatar:hover img{
  z-index: -1;
}

.avatar:hover img + p {
  display: none;
}

.profile-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info-wrapper {
  flex: 1;
}

.username-wrapper {
  display: flex;
}

.profile-form input {
  flex: 1;
}

.username-btn {
  margin-left: 5px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background: transparent;
  position: relative;
  top: 4px;
  padding-bottom: 2px;
}

.username-btn:hover {
  font-size: 22px;
  padding-bottom: 0;
}

.username-btn:active {
  outline: none;
  font-size: 20px;
  padding-bottom: 2px;
}

.username-btn:focus {
  outline: none;
}

.username-btn.active {
  top: 0;
  padding-left: 2px;
  color: green;
  margin-left: 0;
}

.username-btn.active:hover {
  padding-left: 0;
}

.username-btn.active:active {
  padding-left: 2px;
}

.delete-btn {
  margin-top: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  background: rgb(78, 161, 76);
  color: white;
  cursor: pointer;
}

.delete-btn.red {
  background: red;
  margin-left: 20px;
}
